.left{
    float: left;
    position: fixed;
    color:white;
    width: 12%;
    top:0px;
    left: 0px;
    height: 100%;
    font-size: 20px;
    line-height: 30px;
    background-color: black;
}
.right{
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 88%;
    height: 100%;
    background-color: white;
}
.top{
    position: relative;
    border-bottom: 1px solid deepskyblue;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 70px;
    font-size: 15px;
}
.other{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 20px;
    /*background-color: aliceblue;*/
}
.text{
    float: left;
    border:none;
    height: 100%;
    line-height: 100%;
    bottom: 0px;
    font-size: 20px;
    width: 50%;
}
.tag,.project{
    border:5px lightblue;
    position: absolute;
    z-index: 999;
    top: 70px;
    width: 200px;
    display: none;
    background-color: bisque;
}
.projectName,.tagName{
    color: midnightblue;
    font-size:20px;
    height: 25px;
    border:none;
    width: 70%;
    background-color: inherit;
}
.subtop,.subtopProject,.subtopTag {
    float: left;
    width: 10%;
    height: 100%;
    font-size: 18px;
    text-align: center;
    bottom: 0px;
    position: relative;
}

.create{
    text-align: center;
    width:200px;
    color: forestgreen;
    font-size: 18px;
    border-top:2px black;
    border: none;
}
a{
    color:green;
    bottom: 0px;
    font-weight: bold;
}
p{
    vertical-align: center;
}
.item{
    position: relative;
    float: left;
    border-bottom: 1px solid deepskyblue;
    width: 100%;
    height: 50px;
    font-size: 20px;
}
.itemtext{
    border: none;
    position: relative;
    font-size: 18px;
    background-color: inherit;
    left: 1%;
    width: 90%;
    height: 50px;
}
.img{
    top:5px;
    bottom: 5px;
    width: 60px;
    height: 60px;
    border: none;
    align-content: center;
}
.delete, .continue{
    border: none;
    font-size: 15px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    background-color: inherit;
    font-weight: bold;
    color:red;
}
.listTime, .dylist{
    height: 100%;
    width: 100%;
    bottom: 0px;
    color: greenyellow;
    border:none;
    background-color: inherit;
    font-size: 20px;
}
.times{
    position: relative;
    width: 100%;
    display: none;
    background-color: inherit;
    left: 5%;

}
.time{
    position: relative;
    float: left;
    width: 100%;
    background-color: inherit;
    border-bottom: inherit;
    height: 40px;
    line-height: 40px;
    background-color: lightgreen;
}
.subtime{
    position: relative;
    float: left;
    height: inherit;
    font-size: 15px;
    width: 30%;
}
.date{
    border: 1px greenyellow;
    height: 50px;
    left:25%;
    width: 25%;
    font-size: 20px;
    background-color: #ECF4FB;
    border: 1px #ECF4FB;
}

tr{
    background-color: ghostwhite;
    font-size: 15px;
    border: 1px lightsalmon;
}
th{
    width: 150px;
    height: 50px;
    font-size: 15px;
    border: 1px lightsalmon;

}
td{
    width: 150px;
    height: 50px;
    font-size: 15px;
    border: 1px lightsalmon;

}
.auto,.manual{
    width: 100%;
    height: 50%;
    background-color: inherit;
    color: springgreen;
    border: none;
}