.left{
    float: left;
    position: fixed;
    color:white;
    width: 12%;
    height: 100%;
    font-size: 20px;
    line-height: 30px;
}
.right{
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 88%;
    height: 100%;
    background-color: white;
}
.top{
    position: relative;
    border-bottom: 1px solid deepskyblue;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 70px;
    font-size: 15px;
}
.text{
    float: left;
    border:none;
    height: 100%;
    line-height: 100%;
    bottom: 0px;
    font-size: 20px;
    width: 50%;
}
.toptag{
    border:none;
    position: relative;
    left: 60%;
    right: 80%;
    display: none;

}
.subtop{
    float: left;
    width: 10%;
    font-size: 18px;
    text-align: center;
    bottom: 0px;
}
a{
    color:purple;
    bottom: 0px;
}
p{
    vertical-align: middle;
}